@use "@/app/styles/shared" as *;

:root {
  --font-family-primary: #{getFontFamily('primary')};
  --font-family-secondary: #{getFontFamily('secondary')};
  --font-family-icon-pack: #{getFontFamily('icon-pack')};

  --font-size-extra-small: #{getFontSize('extra-small')};
  --font-size-small: #{getFontSize('small')};
  --font-size-base: #{getFontSize('base')};
  --font-size-middle: #{getFontSize('middle')};
  --font-size-large: #{getFontSize('large')};

  --font-weight-thin: #{getFontWeight('thin')};
  --font-weight-extra-light: #{getFontWeight('extra-light')};
  --font-weight-light: #{getFontWeight('light')};
  --font-weight-regular: #{getFontWeight('regular')};
  --font-weight-medium: #{getFontWeight('medium')};
  --font-weight-semi-bold: #{getFontWeight('semi-bold')};
  --font-weight-bold: #{getFontWeight('bold')};
  --font-weight-extra-bold: #{getFontWeight('extra-bold')};
  --font-weight-black: #{getFontWeight('black')};

  --font-weight-base: var(--font-weight-regular);

  --border-radius-small: #{getBorderRadius('small')};
  --border-radius-base: #{getBorderRadius('base')};
  --border-radius-round: #{getBorderRadius('round')};
  --border-radius-circle: #{getBorderRadius('circle')};

  --transition-timing-function: easy-in;
  --transition-duration: 0.3s;
}


:root {
  --global-white: #ffffff;
  --global-black: #000000;
}

// Глобальные цвета
:root {
  --red_8: #FFF8F6;
  --red_7: #FFE5DF;
  --red_6: #FFD1C8;
  --red_5: #FFBDB1;
  --red_4: #FFA99A;
  --red_3: #FF9382;
  --red_2: #FF7B68;
  --red_1: #F36A57;
  --red_0: #DD604F;
  --red_-1: #C85647;
  --red_-2: #B44C3F;
  --red_-3: #A04337;
  --red_-4: #8C3A2F;
  --red_-5: #793127;
  --red_-6: #662820;
  --red_-7: #542019;

  --yellow_8: #FEF9EA;
  --yellow_7: #FCEAB1;
  --yellow_6: #F9D971;
  --yellow_5: #F0CA44;
  --yellow_4: #DFBC3F;
  --yellow_3: #CFAE3A;
  --yellow_2: #BEA034;
  --yellow_1: #AE922F;
  --yellow_0: #9F852A;
  --yellow_-1: #8F7825;
  --yellow_-2: #806B20;
  --yellow_-3: #725F1B;
  --yellow_-4: #635217;
  --yellow_-5: #554612;
  --yellow_-6: #473B0E;
  --yellow_-7: #3A2F09;

  --green_8: #F3FCF2;
  --green_7: #D2F3D1;
  --green_6: #B1EAAF;
  --green_5: #8EE08D;
  --green_4: #66D669;
  --green_3: #51C856;
  --green_2: #4AB84F;
  --green_1: #44A948;
  --green_0: #3D9A41;
  --green_-1: #368B3A;
  --green_-2: #307C33;
  --green_-3: #296E2C;
  --green_-4: #236025;
  --green_-5: #1D521F;
  --green_-6: #174519;
  --green_-7: #113813;

  --blue_8: #F6FAFD;
  --blue_7: #DEECF8;
  --blue_6: #C6DFF3;
  --blue_5: #AED2ED;
  --blue_4: #96C4E7;
  --blue_3: #7DB7E1;
  --blue_2: #64A9DB;
  --blue_1: #489CD5;
  --blue_0: #248ECE;
  --blue_-1: #0081C0;
  --blue_-2: #0073AD;
  --blue_-3: #006699;
  --blue_-4: #005986;
  --blue_-5: #004C74;
  --blue_-6: #003F62;
  --blue_-7: #003351;

  --gray_8: #F9F9F9;
  --gray_7: #EAEAEA;
  --gray_6: #DCDCDC;
  --gray_5: #CDCDCD;
  --gray_4: #BFBFBF;
  --gray_3: #B0B0B0;
  --gray_2: #A2A2A2;
  --gray_1: #959595;
  --gray_0: #878787;
  --gray_-1: #7A7A7A;
  --gray_-2: #6D6D6D;
  --gray_-3: #606060;
  --gray_-4: #545454;
  --gray_-5: #484848;
  --gray_-6: #3C3C3C;
  --gray_-7: #303030;
}

// Семантические цвета
:root {
  --negative_8: var(--red_8);
  --negative_7: var(--red_7);
  --negative_6: var(--red_6);
  --negative_5: var(--red_5);
  --negative_4: var(--red_4);
  --negative_3: var(--red_3);
  --negative_2: var(--red_2);
  --negative_1: var(--red_1);
  --negative_0: var(--red_0);
  --negative_-1: var(--red_-1);
  --negative_-2: var(--red_-2);
  --negative_-3: var(--red_-3);
  --negative_-4: var(--red_-4);
  --negative_-5: var(--red_-5);
  --negative_-6: var(--red_-6);
  --negative_-7: var(--red_-7);

  --notice_8: var(--yellow_8);
  --notice_7: var(--yellow_7);
  --notice_6: var(--yellow_6);
  --notice_5: var(--yellow_5);
  --notice_4: var(--yellow_4);
  --notice_3: var(--yellow_3);
  --notice_2: var(--yellow_2);
  --notice_1: var(--yellow_1);
  --notice_0: var(--yellow_0);
  --notice_-1: var(--yellow_-1);
  --notice_-2: var(--yellow_-2);
  --notice_-3: var(--yellow_-3);
  --notice_-4: var(--yellow_-4);
  --notice_-5: var(--yellow_-5);
  --notice_-6: var(--yellow_-6);
  --notice_-7: var(--yellow_-7);

  --positive_8: var(--green_8);
  --positive_7: var(--green_7);
  --positive_6: var(--green_6);
  --positive_5: var(--green_5);
  --positive_4: var(--green_4);
  --positive_3: var(--green_3);
  --positive_2: var(--green_2);
  --positive_1: var(--green_1);
  --positive_0: var(--green_0);
  --positive_-1: var(--green_-1);
  --positive_-2: var(--green_-2);
  --positive_-3: var(--green_-3);
  --positive_-4: var(--green_-4);
  --positive_-5: var(--green_-5);
  --positive_-6: var(--green_-6);
  --positive_-7: var(--green_-7);

  --informative_8: var(--blue_8);
  --informative_7: var(--blue_7);
  --informative_6: var(--blue_6);
  --informative_5: var(--blue_5);
  --informative_4: var(--blue_4);
  --informative_3: var(--blue_3);
  --informative_2: var(--blue_2);
  --informative_1: var(--blue_1);
  --informative_0: var(--blue_0);
  --informative_-1: var(--blue_-1);
  --informative_-2: var(--blue_-2);
  --informative_-3: var(--blue_-3);
  --informative_-4: var(--blue_-4);
  --informative_-5: var(--blue_-5);
  --informative_-6: var(--blue_-6);
  --informative_-7: var(--blue_-7);

  --neutral_8: var(--gray_8);
  --neutral_7: var(--gray_7);
  --neutral_6: var(--gray_6);
  --neutral_5: var(--gray_5);
  --neutral_4: var(--gray_4);
  --neutral_3: var(--gray_3);
  --neutral_2: var(--gray_2);
  --neutral_1: var(--gray_1);
  --neutral_0: var(--gray_0);
  --neutral_-1: var(--gray_-1);
  --neutral_-2: var(--gray_-2);
  --neutral_-3: var(--gray_-3);
  --neutral_-4: var(--gray_-4);
  --neutral_-5: var(--gray_-5);
  --neutral_-6: var(--gray_-6);
  --neutral_-7: var(--gray_-7);
}